<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/blog.css">

</head>

<body>
    {{>nav}}

    <div class="bodydiv">


        {{!--  --}}



        <!-- Full screen modal -->


        <!-- Full screen modal -->

<div class="container" style="background: red; height :80vh ;  margin-top : 2vh">

    


</div>



{{!--   

        <div class="container">
            <div class="row mb-2  mt-5">
                {=====
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Design</strong>
                            <h3 class="mb-0">Post title</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-0 ">This is a wider card with supporting text below as a natural lead-in to
                                additional content.
                                um dolor sit amet consectetur adipisicing elit. Nisi laudantium deleniti nihil nam delectus sunt modi, adipisci repellendus pariatur consequatur nobis odit explicabo minima! Voluptatibus hic quam eum officia odio.
                                </p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">                          
                            <img src="https://1.bp.blogspot.com/-CB-L29yTyEk/XHai5z8gSRI/AAAAAAAAA8w/QVhOECDFDRIicHKKVtz8hGXUakZL6dN4ACLcBGAs/s1600/PLAY%2BSTORE%2BFATHER%2BOF%2BAPPS.jpg"  class="bd-placeholder-img" width="200" height="250"alt="">
                             </div>
                    </div>
                </div>
                ==
                        </div>
        </div>
 --}}


    </div>
    {{!-- paginatio --}}
    <div class="container">
        <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    {{!-- /pagination --}}



    {{!-- footer --}}
    {{>footer}}
    {{!-- footer --}}
</body>

</html>