<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>nav}}


    <div class="maindiv">
        <div class="main-child-1 main-child">
            <button class="but" id="return">
                <span class="material-icons goback">
                    reply
                </span>
                Go Back
            </button>
            <button class="but" id="menu">
                <span class="material-icons menu">
                    widgets
                </span>
                Menu
            </button>

        </div>
        <div class="main-child-2 main-child">

            <div class="sub2-child1">
                <img src="/media/img/mypic.jpg" alt=""> <br>
                <div class="maininfo">

                    {{!-- <span class="hello">Hello</span> <br> --}}
                    <p>
                        <span class="name">{{name}}</span><br>
                        <span class="email">{{email}}</span>
                    </p>
                </div>
            </div>

            <div class="sub2-child2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quos libero, quis soluta facilis
                    officiis accusantium in repellat sapiente modi perferendis maxime reiciendis autem optio ab nemo
                    itaque veritatis provident!
                </p>
            </div>



        </div>
        <div class="main-child-3 main-child">
            <button class="but" id="logout">
                <span class="material-icons logout">
                    power_settings_new
                </span>
                Logout
            </button> <br>
            <button class="but" id="update">
                <span class="material-icons update">
                    input
                </span>
                Update
            </button> <br>
            <button class="but" id="deleteAccount">
                <span class="material-icons delete">
                    delete
                </span>
                Delete Account
            </button>
        </div>
    </div>
    {{>footer}}
 
    {{!-- -------------------------------- update ------------------------------------------------- --}}

    <div class="updatediv">
        <p> Edit your information </p>
        <div class="verticalline"></div>
        <div class="horizantalline"></div>

        <div class="bio-update-div">
            <form action="" id="updateform">
                <div class="form">
                    <span class="topic">Update User Info</span>
                    <input type="text" name="" required placeholder="User Name" id="newUserName"> <br>
                    <textarea name="" required placeholder="Enter your Bio" id="bio"></textarea> <br>
                    <button type="submit" id="makeupdate">Update</button>

                </div>
            </form>
        </div>
        <div class="forget-password-div">
            <form action="">
                <div class="form">
                    <span class="topic">Change Password</span>
                    <input type="password" required id="oldpass" placeholder="Current PassWord"> <br>
                    <input type="password" required name="" id="newpass1" placeholder="New Password"> <br>
                    <input type="password" name="" id="newpass2" placeholder="Re-type the same password"> <br>
                    <button type="submit" id="makePassChange">Change</button>
                </div>
            </form>
        </div>
    </div>



    {{!-- ============================================================================================================================= --}}
    {{!-- Logout   // Delete  --}}
    <div class="acc-div">
        <p> Edit your Account </p>
        <div class="hrline"></div>
        <div class="vrline"></div>

        <div class="acc-div-child-1">
            <div class="container">
                {{!-- <div class="acc-option-div"></div> --}}
                <span>Delete Account</span>
                <div><span id="warn">Warning !!</span> <br> Your Accout will be Deleted Permanently</div>
                <div>
                    Are you sure want to delete Account <br>
                    <input type="checkbox" name="" id="delete-account"> Confirm Delete Account
                </div>
                <button id="deletebut">Delete</button>
            </div>
        </div>
        <div class="acc-div-child-2">
            <div class="container">
                {{!-- <div class="acc-option-div"></div> --}}
                <span>Logout</span>
                <div>
                    <input type="checkbox" id="log-out"> Are you sure want to Logout <br>
                    <input type="checkbox" required name="" id="log-out-all"> Logout From All devices
                </div>
                <button id="logoutbut" class="">Logout</button>
            </div>
        </div>
    </div>
    {{!-- ============================================================================================================================= --}}

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/profile.js"></script>


</html>