<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>nav}}


    <div class="maindiv">
        <div class="main-child-1 main-child">
            <button class="but" id="return">
                <span class="material-icons goback">
                    reply
                </span>
                Go Back
            </button>
            <button class="but" id="menu">
                <span class="material-icons menu">
                    widgets
                </span>
                Menu
            </button>

        </div>
        <div class="main-child-2 main-child">

            <div class="sub2-child1">
                <img src="/media/img/mypic.jpg" alt=""> <br>
                <div class="maininfo">

                    {{!-- <span class="hello">Hello</span> <br> --}}
                    <p>
                        <span class="name">{{name}}</span><br>
                        <span class="email">{{email}}</span>
                    </p>
                </div>
            </div>

            <div class="sub2-child2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quos libero, quis soluta facilis
                    officiis accusantium in repellat sapiente modi perferendis maxime reiciendis autem optio ab nemo
                    itaque veritatis provident!
                </p>
            </div>



        </div>
        <div class="main-child-3 main-child">
            <button class="but" id="logout">
                <span class="material-icons logout">
                    power_settings_new
                </span>
                Logout
            </button> <br>
            <button class="but" id="update">
                <span class="material-icons update">
                    input
                </span>
                Update
            </button> <br>
            <button class="but" id="deleteAccount">
                <span class="material-icons delete">
                    delete
                </span>
                Delete Account
            </button>
        </div>
    </div>
    {{>footer}}

    {{!-- -------------------------------- update ------------------------------------------------- --}}

    <div class="updatediv">
        <p> Edit your information </p>
        <div class="verticalline"></div>
        <div class="horizantalline"></div>

        <div class="bio-update-div">
               <form action="">
                <span class="topic">Update User Info</span> 
               <div class="form">
                <input type="text" name="" id="" placeholder="User Name"> <br>
                Update your bio :-
                <textarea name="" id="" cols="" rows=""></textarea> <br>
                </div>
            </form>
        </div>
        <div class="forget-password-div">
            <form action="">
                <div class="form">
                <span class="topic">Change Password</span> 
                <input type="password" required placeholder="Current PassWord"> <br>
                <input type="text"  required name="" id="" placeholder="New Password"> <br>
                <input type="text" name="" placeholder="Re-type the same password"> <br>
                <button>Change</button>
                </div>
            </form>
        </div>
    </div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/profile.js"></script>


</html>