<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/register.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>nav}}
    <div class="userlog">
      <div class="warning">
          <p></p>
      </div>
        <form action="register" method="POST" name="myForm" onsubmit="return validateForm()">
            Username :- <br>
            <span class="material-icons userlogo">
                account_circle
            </span>
            <input name="username" required type="text" placeholder="Ram Hari Kiju" class="items" id="username">
            <br><br><br>
            Password :- <br>
            <span class="material-icons passlogo">
                vpn_key
            </span>
            <input name="password" required type="password" placeholder="demo$pass!" class="items" id="password">
            <br><br><br>
            Email :- <br>
            <span class="material-icons">
                email
            </span>
            <input name="email" required type="email" placeholder="demo@email.com" class="items">
            <br><br><br>
            <button id="registerbutton">Register</button>
        </form>
    </div>
    {{>footer}}
</body>
<script src="/js/registerformvalidation.js"></script>

</html>