<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="maindiv">
   <div class="formdiv">
       <form action="">
           <input type="text"> <br>
           <input type="text"> <br>
           <input type="text"> <br>
           <input type="text"> <br>
           <button type="submit">Register</button>
       </form>
   </div>

   </div>
</body>
</html>