<div class="navmaindiv">
    <div class="logo">
        <a href="/"> <img src="/media/img/logo4.png" alt=""></a>
    </div>
    <div class="nav">
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>
    </div>
    <div class="search">
     <input  type="text" id="navinput"placeholder="Search">
       <button>
         <span class="material-icons">
            search
        </span>
       </button>
       </div>
</div>