<div class="navdiv">
    <div class="logo">
        <a href="/"> <img src="/src/img/logo4.png" alt=""></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/myinfo">My info</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>
     <input  type="text" id="navinput"placeholder="Search">
       <button>
         <span class="material-icons">
            search
        </span>
       </button>
</div>