@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

.userlog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

form {
  margin: 50px;
  width: 300px;
  padding: 30px;
  text-align: center;
  border: 3px dashed gray;
  border-radius: 15px;
  box-shadow: 1px 1px 7px black, 0px 0px 7px white;
}

form:hover{
    border-color: black;
  box-shadow: 1px 1px 7px black, 1px 1px 7px green;

}
form input {
  border-bottom: 1px solid black;
}
form input:focus{
  border-color: green;
}

form button {
    margin-left: 110px;
    border: 1px solid;
  box-shadow: 1px 1px 4px black;
  border-radius: 7px;

  padding: 4px;
  display: flex;
}

form button:hover {
    border-color: none;
    box-shadow: 1px 1px 8px green;
  /* border : 1px solid green; */

}

.icon{
    border-bottom: 1px solid black;
    position: relative;
    top: 4px;    
    left: 4px;
}
.icons{
    position: relative;
    top: 6px;    
}
form a{
    text-decoration: none;
    color: black;
}
form a:hover{
    text-decoration: underline;
}

.warning{
height: 10px;
}