@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");



/* =========================================================================================================== */
/* Logout  */
.acc-div{
  height: 100vh;
  display: flex;
  background-color: white;
}


.hrline{
  position: absolute;
  height: 1px;
  width: 40vh;
  background-color: black;
  margin: 5% 40%;
}

.vrline{
    position: absolute;
    height: 70vh;
    width: 2px;
    background-color: black;
    align-self: center;
    margin: 0 50%;
    margin-top: 30px;
  
}


.acc-div p{
  margin-top: 30px;
  position: absolute;
  color: black;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 30px;
}


.acc-div-child-1 , .acc-div-child-2 {
  background-color: transparent;
  width: 50%;
}

.container{
  background-color: #e4e6eb;
  box-shadow: 3px 3px 7px black , -3px -3px 3px white;
  height: 400px;
  width: 600px;
  margin: 25% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.container span , .container div{
  background-color: transparent;
  text-align: center;
}

.container span{
  font-size: 25px;
  font-weight: bold;

}

.container button{
  font-size: 13px;
  border: 1px solid  black;
  color: black;
  padding: 10px;
  font-weight: bold;
  align-self: center;
  width: 400px;
}

.container #logoutbut:hover{
  background-color: black;
  color: white;
}


#warn{
  color: red;

}

#deletebut:hover{
  background-color: red;
  color: white;
}










/* =========================================================================================================== */


.navmaindiv {
  display: none;
}
.footer {
  display: none;
}

* {
  background-color: rgb(240, 238, 238);
}
.maindiv {
  min-height: 100vh;
  display: flex;
}

/* main-child-1 */
.main-child-1 {
  padding: 5px;
  margin: 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-child-1 .material-icons {
  font-size: 40px;
}

/* sub 2 */
.main-child-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sub2-child1 {
  display: flex;
}

.sub2-child2 {
  margin-top: 10px;
  font-size: 14px;
  width: 500px;
}

.sub2-child2 p{
background-color: white;
text-align: center;
}

.maininfo {
  align-self: center;
  margin-left: 10px;
  line-height: 1.5;
}
.maininfo p {
  line-height: 1.5;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.hello {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: rgb(87, 87, 87);
  font-size: 40px;
}
.name {
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;

  font-size: 30px;
}
.email {
  color: rgb(87, 87, 87);
  font-family: "Open Sans", sans-serif;

  font-size: 15px;
}

/* button  */

.but {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}


.but .material-icons {
  font-size: 30px;
}


/* .main-child-3 */
.main-child-3 {
  margin: 80px 80px;
  display: flex;
  flex-direction: column;
}

.main-child-3 button {
  margin-top: 80px;
}

.but {
  padding: 5px;
  box-shadow: 1px 1px 3px black, -1px -1px 3px white;
}
.but:hover {
  box-shadow: 3px 3px 3px black, -3px -3px 3px white;
}

.but:hover .update {
  color: green;
}
.but:hover .delete {
  color: red;
}
.but:hover .logout {
  color: white;
}
.but:hover .goback {
  color: rgb(248, 134, 3);
}
.but:hover .menu {
  color: rgb(146, 81, 250);
}



/* ---------------------------------------------------------------------------------------- */
/* .update */
/* down page  */


.updatediv {
  min-height: 100vh;
  display: flex;
  box-shadow: 2px 2px 5px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.4)),
    url("/media/img/background.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}



.updatediv p{
  margin-top: 30px;
  position: absolute;
  color: white;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 30px;
}


 /* LIness */
.verticalline {
  position: absolute;
  height: 70vh;
  width: 1px;
  background-color: white;
  align-self: center;
  margin: 0 50%;
  margin-top: 30px;
}


.horizantalline{
  position: absolute;
  height: 1px;
  width: 40vh;
  background-color: white;
  margin: 5% 40%;
}





.forget-password-div , .bio-update-div {
  background-color: transparent;
  width: 50%;
}



/* forms */
 form {
  background-color: #c7c7c76c;
  border: 1px solid ffffff6c;
  height: 500px;
  width: 400px;
  margin: 150px 1px 1px 150px;
  color: white;
  display: flex;
}



.form{
  background-color: transparent;
  margin-top: 100px;
  margin:  50px 0 ;
  width: 100%;
}


form input , textarea{
  text-align: left;
  color: white;
  padding :10px;
  border-bottom: 1px solid white;
  margin: 30px 50px;
  width: 70%;
}


.topic{
  font-size: 20px;
  background-color:transparent;
  color: white;
  padding :10px;
  margin: 30px 50px;
  margin-bottom: 10px;
}


form button{
   color: white;
   padding :10px;
  border: 1px solid white;
  margin: 30px 50px;
  width: 75%;
}


form button:hover{
background-color: white;
color: black;
}



form input::placeholder , textarea::placeholder{
  color: rgb(142, 142, 143);
  font-size: 15px;
}


textarea {
  color: white;
  background-color: transparent;
  height: 100px;
  resize: none;
  outline: none;
  border: 1px solid white;

}
