@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");


.navmaindiv {
  display: none;
}
.footer {
  display: none;
}

* {
  /* background-color: rgb(202, 202, 202); */
  background-color: rgb(240, 238, 238);
}
.maindiv {
  /* margin: 100px; */
  /* margin: 35px; */
  min-height: 100vh;
  display: flex;
  /* background-color: aqua; */
}

/* main-child-1 */
.main-child-1 {
  padding: 5px;
  margin: 80px 80px;
  /* background-color: rgb(125, 106, 143); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-child-1 .material-icons {
  /* background-color: rebeccapurple; */
  font-size: 40px;
}

/* sub 2 */
.main-child-2 {
  /* align-self: center; */
  display: flex;
  /* background-color: pink; */
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  /* text-align: center; */
  /* justify-self: flex-end; */
  justify-content: center;
}

.sub2-child1 {
  /* background-color: rebeccapurple; */
  display: flex;
}

.sub2-child2 {
  margin-top: 10px;
  font-size: 14px;
  width: 500px;
}

.maininfo {
  align-self: center;
  margin-left: 10px;
  line-height: 1.5;
}
.maininfo p {
  line-height: 0.8;
}
img {
  height: 200px;
  width: 200px;
  /* border: 1px solid rgb(143, 141, 141); */
  border-radius: 50%;
}

.hello {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: rgb(87, 87, 87);
  font-size: 40px;
}
.name {
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;

  font-size: 30px;
}
.email {
  color: rgb(87, 87, 87);
  font-family: "Open Sans", sans-serif;

  font-size: 15px;
}

/* button  */

.but {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  /* color: blue; */
}

.but .material-icons {
  /* color: blueviolet; */
  font-size: 30px;
}

/* .main-child-3 */
.main-child-3 {
  /* background-color: blue; */
  margin: 80px 80px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  /* text-align: center; */
  /* justify-self: center; */
  /* justify-content: space-evenly; */
}

.main-child-3 button {
  margin-top: 80px;
}

.but {
  padding: 5px;
  /* border-radius: 10px; */
  box-shadow: 1px 1px 3px black, -1px -1px 3px white;
}
.but:hover {
  box-shadow: 3px 3px 3px black, -3px -3px 3px white;
}

.but:hover .update {
  color: green;
}
.but:hover .delete {
  color: red;
}
.but:hover .logout {
  color: white;
}
.but:hover .goback {
  color: rgb(248, 134, 3);
}
.but:hover .menu {
  color: rgb(146, 81, 250);
}



/* .update */
.updatediv {
  min-height: 100vh;
  display: flex;
  box-shadow: 2px 2px 5px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.4)),
    url("/media/img/background.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}


.updatediv p {
  margin-top: 30px;
  position: absolute;
  color: white;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 30px;
}


 /* LIness */
.verticalline {
  position: absolute;
  height: 70vh;
  width: 1px;
  background-color: white;
  align-self: center;
  margin: 0 50%;
  margin-top: 30px;
  /* box-shadow: 2px 2px 6px black , -2px -2px 6px black; */
}

.horizantalline{
  position: absolute;
  height: 1px;
  width: 40vh;
  background-color: white;
  margin: 5% 40%;
}


.bio-update-div {
  background-color: transparent;
  width: 50%;
}

.forget-password-div {
  background-color: transparent;
  width: 50%;
}




/* forms */
 form {
  background-color: #c7c7c76c;
  /* background-color: aliceblue; */
  border: 1px solid ffffff6c;
  height: 500px;
  width: 400px;
  margin: 150px 1px 1px 150px;
  /* color: rgb(44, 44, 44); */
  color: white;
  display: flex;
}

.form{
  background-color: transparent;
  /* background-color: aqua; */
  /* position: relative; */

  margin-top: 100px;
  margin:  50px 0 ;
  /* margin-top: 10px; */
  width: 100%;
}
form input{
  text-align: left;
  color: white;
  padding :10px;
  /* background-color: aqua; */
  border-bottom: 1px solid white;
  margin: 30px 50px;
  /* margin: 50px 0 0 0 ; */
  width: 70%;
}

.topic{
  font-size: 20px;
  background-color:transparent;
  color: white;
  padding :10px;
  margin: 30px 50px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid white; */
}
form button{
   color: white;
   padding :10px;

  border: 1px solid white;
  margin: 30px 50px;
  width: 75%;
}
form button:hover{
/* color: #575D60; */
background-color: #575D60;

}

form input::placeholder{
  color: rgb(142, 142, 143);
}

/* .topic{
  border-radius: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: transparent;
   text-align: center;
   padding: 10px;
   margin: 100% 25%;
   font-size: 20px;
} */