@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*{
padding: 0 ;
margin: 0;
color: white;
font-family: 'Noto Sans TC', sans-serif;

}

form .icon{
    font-size: 100px;
    position: absolute;
    top :143px;
    left:710px;
    z-index: 1;
}
.register{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 50px;
}
form{
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 60px;

    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;

}
form:hover{
    background-color: blueviolet;
}
.items{
margin-bottom: 40px;
height: 30px;
width: 300px;
}

.registerbutton{
    height: 30px;
    width: 80px;
    margin-left: 100px;
  color: black;
  border:  2px solid white;
  background-color: transparent;
  color: white;
border-radius: 10px;
}

.registerbutton:hover{
    background-color: rgb(20, 255, 11);
    
    }
input{
    color: black;
    font-size: 15px;
    text-align: center;
}

input::placeholder{
    color: orangered;
    /* font-size: 13px; */
    
    /* padding-left: 10px;  */
}
.material-icons{
    text-align: center;
    margin-bottom: 5px;
}