@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*{
padding: 0 ;
margin: 0;
color: white;
/* font-family: 'Noto Sans TC', sans-serif; */

}
body{
    background-color: rgba(123, 19, 221, 0.795);
}

.navdiv{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
 
}
nav{
    margin-top: 25px;
    /* background-color: black; */
    flex-grow: 1;
}

.navdiv nav a{
    justify-content: space-around;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.navdiv nav a:hover{
    border-bottom: 2px solid white;

}

.navdiv .logo img{
    height: 80px;
}

.navdiv #navinput{
    height: 30px;
    width: 200px;

}



.navdiv button , #navinput{
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    
}
.navdiv button{
    height: 33px;
    width: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 33px;
    margin-top:23px;
    border-bottom:1px solid white;   

}
.navdiv #navinput{
    border-bottom:1px solid white;   
    font-size: 20px;
    margin-left: 10px;
}
.navdiv #navinput::placeholder{
    color: white;
    font-size: 20px;
    text-align: center;
}
.navdiv button .material-icons{
    font-size: 35px;
}

.navdiv #navinput:focus{
    border-bottom:1px solid rgb(255, 115, 0);
}
.navdiv button:hover{
    border-bottom:1px solid rgb(255, 115, 0);

}