@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navigation */
.navmaindiv {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 5px black;
}

/* logo */
.navmaindiv .logo img {
  height: 50px;
  margin-left: 10px;
}

/* pages or a tags in navigation */
.loginButton {
  color: white;
  margin-left: 25px;
  font-size: large;
  text-decoration: none;
}

.loginBut {
  border-radius: 55px;
  background: #8179ec;
  box-shadow: 2px 2px 10px #655eb8, -2px -2px 10px #9d94ff;
  transition: 0.3s;
}
.loginBut:hover {
  background: #3c359c;
  box-shadow: 2px 2px 10px #655eb8, -2px -2px 10px #9d94ff;
}

nav a {
  color: black;
  margin-left: 25px;
  font-size: large;
  text-decoration: none;
}

nav a:hover svg {
  background-color: black;
  color: white;
  transition: 0.2s;
}

nav svg {
  padding: 5px;
  font-size: 30px;
  margin-left: 10px;
  border-radius: 10px;
}
nav {
  margin-top: 10px;
  text-align: center;
}

.search {
  height: 40px;
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid black;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
}

.search input::placeholder {
  color: rgb(103, 101, 105);
  font-size: 15px;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}
.search button:hover {
  color: orangered;
}

.loginBut {
  display: flex;
  margin: 10px;
}

.loginButton {
  align-self: center;
}

/* Profile pic logo on nav bar  */
.pp {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.bodydiv {
  flex-grow: 1;
}
